
<nav class="navbar navbar-expand-lg navbar-dark fixed-top alt animated navbar-custom">
  <div class="container"> <a class="navbar-brand" href="#"><img src="TECNOCULTURALOGO.gif" width="205" height="35" alt=""/></a>
    <button class="navbar-toggler material-ripple" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Inicio']" routerLinkActive="router-link-active" >Inicio</a></li>
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Anteriores']" routerLinkActive="router-link-active" >Numeros Anteriores</a></li>
        <li class="nav-item"> </li>
      </ul>
    </div>
  </div>
</nav>

<section id="author">
  <div class="container">
    <div class="section-title">
      <h2>Numero 46</h2>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
<div class="row">
        <div class="col-lg-6">
          <div class="pricing-table">
            <h4>Numero 46</h4>
            <p><a href="assets/TECNOCULTURAS/44.pdf" target="_blank"></a></p>
            <p><a href="assets/TECNOCULTURAS/47.pdf" target="_blank"></a><a href="assets/TECNOCULTURAS/46.pdf" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F46.jpg?alt=media&token=a8183fe1-71c8-448a-9476-81f5c8610c59" width="525" height="675" alt="TecnoCultura46" class="img-fluid"></a></p>
          </div>
        </div>
        <div class="col-lg-5">
          <h4>CARACTERISTICAS NUTRICIONALES&nbsp; Y COMPUESTOS BIOACTIVOS DEL AGUACATE </h4>
<pre class="text-center">Hernández Domínguez </pre>
<a href="articulos/46/1.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
<h4>UTILIZACIÓN DEL MÉTODO DEL ELEMENTO FINITO PARA EL DISEÑO </h4>
<pre class="text-center"> Javier N. Gutiérrez V
 Israel i. Gutiérrez V
 Marco A. Gutiérrez V.
			</pre>
          <a href="articulos/46/2.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
          
<h4>las INGENIERIA ANTE EL DESPUNTAR DE LA CUARTA REVOLUCION INDUSTRIAL </h4>
		  <pre class="text-center"> Víctor M López L</pre>
          <a href="articulos/46/3.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
          <h4>ALIMENTOS TRASGENICOS EN MEXICO </h4>
		  <pre class="text-center"> Mariel Ferrer 
Lizeth Carrillo 
Ana M Sixto 
</pre>
<a href="articulos/46/4.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
<h4>ANÁLISIS DE SENTIMIENTOS EN REDES SOCIALES (TWITTER) </h4>
<pre class="text-center"> Adolfo M Ramírez 
Francisco J Ávila C
Leonardo Moreno V
</pre>
<a href="articulos/46/5.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
<h4>&nbsp;</h4>
</div>
<p><a href="assets/TECNOCULTURAS/44.pdf" target="_blank"></a></p>
<hr class="left">
<hr class="right">
</div>
<a href="articulos/47/1.pdf"></a>    </div>
</div>
</section>