<!------- Barra de navegacion--->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top alt animated navbar-custom">
  <div class="container"> <a class="navbar-brand" href="#"><img src="TECNOCULTURALOGO.gif" width="205" height="35" alt=""/></a>
    <button class="navbar-toggler material-ripple" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Inicio']" routerLinkActive="router-link-active" >Inicio</a></li>
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Anteriores']" routerLinkActive="router-link-active" >Numeros Anteriores</a></li>
        <li class="nav-item"> </li>
      </ul>
    </div>
  </div>
</nav>
<!------Fin barra de navegacion-->
<!----Titulo y portada de revista---->
<section id="author">
<div class="container">
<div class="section-title">
<h2>Numero 41</h2>
<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-6">
        <div class="pricing-table">
          <h4>Numero 41</h4>
          <!-- <p><a href="assets/TECNOCULTURAS/44.pdf" target="_blank"></a></p> -->
          <p><a href="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Articulos%2F49.pdf?alt=media&token=6a6c0107-7a80-4c9c-b3ed-2e357f6d9463" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F41.jpg?alt=media&token=773c1681-cb3e-4f00-9999-eb4356029c47" width="1225" height="1075" alt="TecnoCultura49" class="img-fluid"></a></p>
        </div>
    </div>
    <!----Fin titul o y portada revista--->
 
          <!---Columna derecha-->
          <div class="col-lg-5">
            <p>&nbsp;</p>
            <h4>EL USO DE LOS RESIDUOS AGROINDUSTRIALES Y LA FERMENTACIÓN SOLIDA </h4>
            <div>
                <pre class="text-center"><pre> Maria A Martínez Trujillo </pre> </pre>

                <a href="articulos/49/1.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a><a href="articulos/49/1.pdf"></a>
           <hr>

            <h4>ESTABLECIMIENTO DE LAS CONDICIONNES DE OPERACIÓN PARA LA PRODUCCIÓN DE LAS CASAS </h4>
            <div>
                <pre class="text-center"><pre> Leticia Soto V, Ulises Duran H, Isabel Membrillo  V,Mayola García Rivero ,María A Martínez Trujillo </pre> </pre>

                <a href="articulos/49/1.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a><a href="articulos/49/1.pdf"></a>
           <hr>
           <h4>EL USO DE LOS RESIDUOS AGROINDUSTRIALES Y LA FERMENTACIÓN SOLIDA</h4>
          <pre class="text-center"> Maria A Martinez Trujillo
          </pre>
          <a href="articulos/49/2.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>
          <h4>&nbsp;</h4>
        <hr>
<h4>REVISIÓN DE LOS PROCESOS DE REMOCION Y RECUPERACION DE METALES PESADOS</h4>
        <pre class="text-center">Maria I Neri, Ricardo Aguilar L., Leonardo R. González G.
        </pre>
        <a href="articulos/49/3.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>        
        <hr>
        <h4>ESTABLECIMIENTO DE LAS CONDICIONES DE OPERACIÓN PARA LA PRODUCCION DE LAS CASAS</h4>
          <pre class="text-center">Leticia Soto V, Ulises Duran H, Isabel Membrillo V, Mayola Garcia Rivero, Maria A. Martinez Trujillo.
          </pre>
          <a href="articulos/49/4.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>      
          
      </div>
    </div>
</div>