#pricing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.55)), 
    url("../assets/fondo tese 2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-color: #202020;
    color: rgb(245, 11, 11);
}
p.editorial{
    text-align: center;
}
p{
    text-align: justify;
}

p.autor{
    text-align: center;
}