<section id="author">
    <div class="container">
      <div class="section-title">
        <h2>Numeros Anteriores</h2>
        <p>Conoce nuestros nùmeros anteriores</p>
        <div class="row">
          <div class="col-lg-4">
                <div class="pricing-table">
                  <h4 button title="Revista Numero 49">Numero 49</h4>
                  <p><a button title="Revista Numero 49" class="nav-link active" [routerLink]="['/Numero49']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F49.jpg?alt=media&token=072b4030-cad5-42eb-b8af-ea64ebd05172" width="525" height="675" alt="TecnoCultura49" class="img-fluid">Numero 49</a></p>
                </div>
             </div>
          <div class="col-lg-4">
               <div class="pricing-table">
                 <h4 button title="Revista Numero 48">Numero 48</h4>
                 <p><a button title="Revista Numero 48" class="nav-link active"[routerLink]="['/Numero48']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F48.jpg?alt=media&token=45d8e134-5fdc-48ce-acd6-10629feb695e" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 48</a></p>
               </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-table">
                <h4 button title="Revista Numero 47">Numero 47</h4>
                <p><a  button title="Revista Numero 47"class="nav-link active" [routerLink]="['/Numero47']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F47.jpg?alt=media&token=cf0b1d5b-7f87-48bb-aa0e-2c2871b698f1" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 47</a></p>
              </div>
           </div>
           <div class="col-lg-4">
            <div class="pricing-table">
              <h4 button title="Revista Numero 46">Numero 46</h4>
              <p><a button title="Revista Numero 46"class="nav-link active" [routerLink]="['/Numero46']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F46.jpg?alt=media&token=a8183fe1-71c8-448a-9476-81f5c8610c59" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 46</a></p>
            </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-table">
                <h4 button title="Revista Numero 44">Numero 44</h4>
                <p><a button title="Revista Numero 44"class="nav-link active" [routerLink]="['/Numero44']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F44.jpg?alt=media&token=3cf346c2-a1bc-4c71-90b0-c3cc22726fb4" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 44</a></p>
              </div>
              </div>
            <div class="col-lg-4">
              <div class="pricing-table">
                <h4 button title="Revista Numero 43">Numero 43</h4>
                <p><a button title="Revista Numero 43" class="nav-link active" [routerLink]="['/Numero43']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F43.jpg?alt=media&token=358ee78d-6154-440d-b73b-550fecb1de8c" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 43</a></p>
              </div>
              </div>
              <div class="col-lg-4">
                <div class="pricing-table">
                  <h4 button title="Revista Numero 42">Numero 42</h4>
                  <p><a button title="Revista Numero 42"class="nav-link active" [routerLink]="['/Numero42']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F42.jpg?alt=media&token=2c47630e-2250-4d32-87cb-db2951e15dc9" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 42</a></p>
                </div>
                </div>
                <div class="col-lg-4">
                  <div class="pricing-table">
                    <h4 button title="Revista Numero 41">Numero 41</h4>
                    <p><a button title="Revista Numero 41"class="nav-link active" [routerLink]="['/Numero41']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F41.jpg?alt=media&token=773c1681-cb3e-4f00-9999-eb4356029c47" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 41</a></p>
                  </div>
                  </div>
                <div class="col-lg-4">
                  <div class="pricing-table">
                    <h4 button title="Revista Numero 40">Numero 40</h4>
                    <p><a button title="Revista Numero 40"class="nav-link active" [routerLink]="['/Numero40']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F40.jpg?alt=media&token=ce1eab9c-9816-44ae-98e6-ebff4c4df713" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 40</a></p>
                  </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="pricing-table">
                      <h4 button title="Revista Numero 35">Numero 35</h4>
                      <p><a button title="Revista Numero 35" class="nav-link active" [routerLink]="['/Numero35']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F35.jpg?alt=media&token=4b0baa33-a913-4e7e-9ba0-9a08037eb8b0" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 35</a></p>
                    </div>
                    </div>
           <div class="col-lg-4">
            <div class="pricing-table">
              <h4 button title="Revista Numero 34" >Numero 34</h4>
              <p><a button title="Revista Numero 34" class="nav-link active" [routerLink]="['/Numero34']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F34.jpg?alt=media&token=cc020ef7-bcdd-456e-b951-65861d36cbbd" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 34</a></p>
            </div>
         </div>
         <div class="col-lg-4">
          <div class="pricing-table">
            <h4 button title="Revista Numero 30">Numero 30</h4>
            <p><a button title="Revista Numero 30" class="nav-link active" [routerLink]="['/Numero30']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F30.jpg?alt=media&token=a16c685c-2f65-4aa0-977f-d6ec98f7e2c8" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 30</a></p>
          </div>
       </div>
       <div class="col-lg-4">
        <div class="pricing-table">
          <h4 button title="Revista Numero 20">Numero 20</h4>
          <p><a button title="Revista Numero 20" class="nav-link active" [routerLink]="['/Numero20']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F20.jpg?alt=media&token=f9dc5e91-866b-486a-a26e-de7781889b9d" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 20</a></p>
        </div>
     </div>
       <div class="col-lg-4">
        <div class="pricing-table">
          <h4 button title="Revista Numero 19">Numero 19</h4>
          <p><a button title="Revista Numero 19" class="nav-link active" [routerLink]="['/Numero19']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F19.jpg?alt=media&token=38749142-9aca-4376-8960-0c35bb95d5e1" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 19</a></p>
        </div>
     </div>
       <div class="col-lg-4">
        <div class="pricing-table">
          <h4 button title="Revista Numero 17">Numero 17</h4>
          <p><a button title="Revista Numero 17" class="nav-link active" [routerLink]="['/Numero17']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F17.jpg?alt=media&token=80666314-98d3-45ea-a0f6-679bfcb11579" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 17</a></p>
        </div>
     </div>
     <div class="col-lg-4">
      <div class="pricing-table">
        <h4 button title="Revista Numero 16">Numero 16</h4>
        <p><a button title="Revista Numero 16" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F16.jpg?alt=media&token=e805b398-8e29-42d9-bc08-8d9a4d59494a" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 16</a></p>
      </div>
   </div>
   <div class="col-lg-4">
    <div class="pricing-table">
      <h4 button title="Revista Numero 15">Numero 15</h4>
      <p><a button title="Revista Numero 15" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F15.jpg?alt=media&token=0dc16466-2e69-4f6d-8a4e-1254d363f5d1" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 15</a></p>
    </div>
 </div>
 <div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 14">Numero 14</h4>
    <p><a  button title="Revista Numero 14"href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F14.jpg?alt=media&token=b04cb9a2-7d33-4ac9-81d1-4561a0bab390" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 14</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 13">Numero 13</h4>
    <p><a  button title="Revista Numero 13"href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F13.jpg?alt=media&token=d48bfc03-3ce9-40e8-9a31-e69c1973095d" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 13</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 12">Numero 12</h4>
    <p><a button title="Revista Numero 12" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F12.jpg?alt=media&token=8c7180bd-5f44-42f2-9ec5-2eae289edb6e" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 12</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 11">Numero 11</h4>
    <p><a  button title="Revista Numero 11"href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F11.jpg?alt=media&token=67b03d81-c74e-47b3-b473-4259e03913db" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 11</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 10">Numero 10</h4>
    <p><a button title="Revista Numero 10" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F10.jpg?alt=media&token=75219130-37c8-4004-ac29-867e4aadd026" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 10</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 09">Numero 09</h4>
    <p><a  button title="Revista Numero 09" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F09.jpg?alt=media&token=1f328ced-9b58-4e02-9ffd-45b9ee5311dd" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 09</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 08">Numero 08</h4>
    <p><a  button title="Revista Numero 08"href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F08.jpg?alt=media&token=7f27fc43-eb53-4003-9892-610db4d63e81" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 08</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 07">Numero 07</h4>
    <p><a  button title="Revista Numero 07" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F07.jpg?alt=media&token=aacb5469-33b0-4790-b865-d1ac0d61a58b" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 07</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 06">Numero 06</h4>
    <p><a button title="Revista Numero 06" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F06.jpg?alt=media&token=bf81fed7-6319-4b7b-9450-a6d80541d346" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 06</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 05">Numero 05</h4>
    <p><a button title="Revista Numero 05" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F05.jpg?alt=media&token=80349063-7253-41ec-9406-2b3950c40c65" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 05</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 04">Numero 04</h4>
    <p><a button title="Revista Numero 04" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F04.jpg?alt=media&token=0526cc1d-d174-40f0-908b-a4453471f36b" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 04</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 03">Numero 03</h4>
    <p><a button title="Revista Numero 03" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F03.jpg?alt=media&token=e98d80b8-8eea-4eaa-8f16-f0a83ca505e3" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 03</a></p>
  </div>
</div>
<div class="col-lg-4">
  <div class="pricing-table">
    <h4 button title="Revista Numero 02">Numero 02</h4>
    <p><a button title="Revista Numero 02" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F02.jpg?alt=media&token=d5235e1f-f712-4ecc-ae80-9f98511301a6" width="525" height="675" alt="TecnoCultura48" class="img-fluid">Numero 02</a></p>
  </div>
</div>
