<!------- Barra de navegacion--->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top alt animated navbar-custom">
    <div class="container"> <a class="navbar-brand" href="#"><img src="TECNOCULTURALOGO.gif" width="205" height="35"
          alt="" /></a>
      <button class="navbar-toggler material-ripple" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Inicio']"
              routerLinkActive="router-link-active">Inicio</a></li>
          <li class="nav-item"> <a class="nav-link active" [routerLink]="['/Anteriores']"
              routerLinkActive="router-link-active">Numeros Anteriores</a></li>
          <li class="nav-item"> </li>
        </ul>
      </div>
    </div>
  </nav>
<!------Fin barra de navegacion-->
<!----Titulo y portada de revista---->
<section id="author">
    <div class="container">
      <div class="section-title">
        <h2 class="numero">Numero 17</h2>
        <p>&nbsp;</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="pricing-table">
              <h4>Numero 17</h4>
              <!-- <p><a href="assets/TECNOCULTURAS/44.pdf" target="_blank"></a></p> -->
              <p><a
                  href="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Articulos%2F17.pdf?alt=media&token=6a6c0107-7a80-4c9c-b3ed-2e357f6d9463"
                  target="_blank"><img
                    src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F17.jpg?alt=media&token=80666314-98d3-45ea-a0f6-679bfcb11579"
                    width="1225" height="1075" alt="TecnoCultura17" class="img-fluid"></a></p>
            </div>
          </div>
          <!----Fin titulo y portada revista--->
        <!---Columna derecha-->

        <div class="col-lg-5">
            <p>&nbsp;</p>
            <h4 class="texto" >MÉTODOS ALTERNATIVOS DE CONSERVACIÓN DE ALIMENTOS</h4>
            <div></div>
            <!---<pre class="text-center"> Por si se debe agregar un autor</pre>--->
            <a href="articulos/17/parte1.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
            <hr>
            <h4 class="texto"> LOS SISTERMAS DE INFORMACIÓN COMO RECURSO ESTRATÉGICO DEL NEGOCIO </h4>
            <!---<pre class="text-center"> Por si se debe agregar un autor
              </pre>--->
            <h4 class="texto"><a href="articulos/17/parte2.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a></h4>
            
            <hr>
            <h4 class="texto">EMULSIONES MULTICAPA PARA LA SUSTITUCIÓN DE GRASA ANIMAL EN PRODUCTOS CÁRNICOS PROCESADOS </h4>
            <!---<pre class="text-center"> Por si se debe agregar un autor
              </pre>--->
            <h4 class="texto"><a href="articulos/17/parte3.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a></h4>

            <h4 class="texto">NEMÁTICOS COMO BIORREGULARES EN EL CONTROL DE PLAGAS AGRÍCOLAS DE INSECTOS </h4>
            <!---<pre class="text-center">Por si se debe agregar un autor
              </pre>--->
            <a href="articulos/17/parte4.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a>
            <h4><a href="assets/TECNOCULTURAS/44.pdf"></a></h4>
            <h4 class="texto">EFECTO DE LOS SOLVENTES EN LA BIOGRADACIÓN DE DISEL EN UN SISTEMA DE SUELO EN SUSPENSIÓN </h4>
            <!---<pre class="text-center"> Por si se debe agregar un autor 
          </pre>--->
            <h4><a href="articulos/17/parte5.pdf"><img src="assets/pdf.png" width="30" height="30" alt=""></a></h4>
            <a href="assets/TECNOCULTURAS/44.pd"></a>
          </div>
        </div>
      </div>