/*Estaticos(barra)*/
.statics {
	background-color:rgb(165, 0, 0);
	color: #fff;
	padding-top: 20px;
	padding-bottom:10px;
	margin-bottom: 25px;
	margin-right: 100px;
	margin-left: 15px;
	text-align: center;

}

.stats-list {
	text-align: center;
	display: inline-flex;
	text-align: left;
}
.stats-list .icon {
    font-size: 54px;
    text-align: center;
    position: relative;
    top: 4px;
}
.stats-list-icon {
	padding-right: 20px;
}

.stats-list h3 {
	text-transform: uppercase;
}

p.portada{
	margin-top: 80px;
	position: relative;
	text-align: justify;
}

