<section id="overview">
    <div class="dive">
      <div class="section-title">
        <h2 class="titulo">Lineamientos</h2>
        <h4 class="sub"> Lineamientos Generales para la Presentación de Artículos</h4>
        <p>A fin de que los textos que se presenten como propuesta para ser publicados por el TESE en la Revista Tecnocultura, cuenten con las características básicas y un criterio unificado en su estructuración, se establecen los siguientes lineamientos </p>
        <p></p>
        <h4 class="sub">Características de Forma</h4>
        <p>La información podrá presentarse en forma de artículo, ensayo, reportaje, reseña, traducción o monografía, incluyendo trabajos de divulgación y avances de desarrollo de proyectos. Los artículos deben ser producto de investigaciones de elevado nivel académico, que contribuyan a elevar el conocimiento en alguna materia y ser inéditos en español. Igualmente, las conferencias o presentaciones deberán adaptarse para su edición escrita. En todos los casos, se buscará que su contenido sea ameno y novedoso.</p>
        <p>El lenguaje debe ser accesible a estudiantes de licenciatura, sin perjuicio de la información científica o académica contenida en el artículo. Cuando sea necesario el uso de tecnicismos, deberá explicarse su significado con la amplitud necesaria. Se recomienda la inclusión de recuadros que aclaren el significado de conceptos de difícil comprensión.</p>
        <p>Los artículos deben tener subtítulos o incisos, un resumen introductorio (Abstract) en español e inglés, no mayor de diez líneas, que atraiga el interés del lector y la enumeración de las Palabras Clave, con su respectiva versión en inglés (Keywords). Asimismo, al final del artículo incluir una breve conclusión.</p>
        <p>Para las citas o referencias bibliográficas que aparezcan en el texto, se utilizará el modelo APA (Asociación de Psicología de Estados Unidos de América), cuyas características se detallan en el documento en PDF anexo, titulado El Manual de Publicación APA al Alcance de Todos.</p>
        <p>Para fines de registro, se solicita anexar una hoja que contenga datos curriculares del autor o autores, como nombre completo, grado académico, institución de procedencia, domicilio, teléfono, y dirección electrónica.</p>
        <hr class="left">
        <i class="icon icon-basic-spread-text"></i>
        <hr class="right">
      </div>
    </div>
  </section>
  